body{
    background-color: #1dd86e;
    font-family: "Signika", sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    letter-spacing: 2px;
}
h1{
    color: rgb(19, 30, 30);
}
#message-el{
    font-style: italic;
}

button {
    display: block;
    margin: 8px auto;
    height: 40px;
    width: 200px;
    padding: 10px;
    background-color: #ffb703;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    border: none;

}